RESEND_API_KEY=re_hhAV5Dvh_Q2uxtwdAuMzkFML3bfiadZa1
RESEND_FROM_EMAIL=Mesa de Líderes COPARMEX <postulaciones@mail.maiabrand.co>

ADMIN_USERNAME=MD-Coparmex
ADMIN_PASSWORD_HASH=pbkdf2-sha256$120000$sQLCQDRUlA3b80WYJXml7w$ooACF7M4CllEONnjLakkGLtiNMKLA-a1OyBSPvhPKfA